body{
    margin:0;
    background-image:url("background-image.jpg");
    background-size:cover;
}
#container{
    
    height:610px;
    width:70%;
    position:absolute;
    left:50%;
    top:80px;
    transform:translate(-50%);
    background-color:rgba(255, 255, 255, 0.3);
    padding-top:20px;
}

#difficulty{
    text-align: center;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    width:70%;
    margin:auto;
}
#difficulty img{
    height:30px;
    width:130px;
    margin:0px 15px 0px 15px;
    transition: 0.3s all ease-in-out;
    

}#difficulty img:hover{
    transform:scale(1.1,1.1);
    
}
#exercise-type{
    text-align: center;
    position:absolute;
    left:50%;
    top:95px;
    transform:translate(-50%);
    width:70%;
    padding-top:10px;
    margin:0;
    width:90%;
}
#exercise-type img{
    height:60px;
    width:15%;
    margin:20px 3% 0px 3%;
    transition: 0.3s all ease-in-out;
}
#exercise-type img:hover{
    transform:scale(1.1,1.1);
}
#question-statement{
    text-align: center;
    position:absolute;
    width:90%;
    left:50%;
    top:210px;
    transform:translate(-50%);
}
#question-statement p{
    color:black;
    font-size:180%;
    font-weight: bold;
    margin-top: 0px;
}
#question-statement textarea{
    width:100%;
    height:110px;
}
#question-description{
    text-align: center;
    position:absolute;
    width:90%;
    left:50%;
    top:390px;
    transform:translate(-50%);
}
#question-description p{
    color:black;
    font-size:180%;
    font-weight: bold;
}
#question-description textarea{
    width:100%;
    height:60px;
}
#container button{
    background-color:black;
    border:0;
    color:white;
    font-size:120%;
    padding:10px 15px 10px 15px;
    position:absolute;
    left:50%;
    top:580px;
    transform:translate(-50%);
}
#menu{
    width:100%;
    height:60px;
    background-color:black;
}
#menu button{
    border:0;
    width:120px; 
    height:100%;
    background-color:black;
    color:white;
}
#menu button:hover{
    background-color:red;
}
#home-btn{

}
.navBar{
    width:100%;
    height:5%;
    display: block;
    margin-bottom:20px;
    margin-left:0px;
    position: -webkit-sticky;
    top: 0;
    background-color: #f8f8f8;

    }
   
    .navBar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    .navBar li {
      float: left;
    }
   
    .navBar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
   
    .navBar li a:hover:not(.active) {
      background-color: #111;
    }
   
    .navBar .active {
      background-color: #2374dd;
    }
@media screen and(max-width:500){

}
