
body{
  background-color:#fff;
  margin:0 0 0 0;

}
#container {
    margin: 0px auto;
    width: 945px;
    height: 400px;
    }
#videoElement {
    width: 100%;
    height: auto;
    background-color: #666;
}
#canvas {
  background-color: #666;
}
.Bar{
width:100%;

height:30px;
display: block;
border-bottom:1px solid black;
margin-bottom:20px;
margin-left:0px;
position: -webkit-sticky;
  position: sticky;
  top: 0;background-color: #f8f8f8;
    border-bottom: 1px solid #bcc2c6;
    

}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover:not(.active) {
  background-color: #111;
}

.navBar .active {
  background-color: #603fe4;
}

.footer {
   position: relative;
   left: 0;
   bottom: 0;
   margin-top:20px;
   padding-top:5px;
   padding-bottom:10px;
   height:30px;
   width: 100%;
   background-color:#333333;
   color: white;
   text-align: center;

}
.liveStreamVideo{
display:inline-block;
  vertical-align:top;
  background:rgb(0,0,10);
  height:100%;
  width:70%;
   
}
.liveStreamComments{
height:75%;
width:auto;
background-color:white;
border:10px solid #a9a7a7;
border-radius:10px;
padding:10 10 10 10;

}
.liveStreamBox{
 display:inline-block;
  vertical-align:top;
  background:#a9a7a7;
  height:100%;
  width:30%;

}
.container{
  height:93%;
  width:100%;
  font-size:0;
  margin:0 auto;
}
html,body{
  height:100%;
}
@media screen and (max-width:730px){
    .liveStreamVideo{
      width:100%;
      height:70%;
    }
    .liveStreamBox{
      width:100%;
      height:30%;
    }
    .liveStreamComments{
      height:40%;

    }
    textarea{
      height:auto;
    }
}

.comment{
    
    display: block;
    border: none;
    border-bottom: 1px groove  black;
    width: 90%;
    margin:auto;
    height:40px;
    border-radius:3px;
    border:10px solid #a9a7a7;


}
.submit{
  background-color: #603ee4;
  border: none;
  color: white;

  width:100%;
  margin-top:5px;
  height:60px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.commentObject{
font-size:16px;
 font-family: Sans-Serif;
border-bottom:2px solid black;
}
.username{
   font-family: Sans-Serif;
font-size:20px;

}